language: java
sudo: false
dist: trusty
jdk: oraclejdk9
addons:
  apt:
    packages:
    - oracle-java9-installer
deploy:
  provider: releases
  skip_cleanup: true
  api_key:
    secure: MZ2Ks9SuHGSsxchcCajwLjsIAdLXwG2fofKcYKjnfbSkB+HUi/hSZdR1M8bwHI3XWZlOSqt/YOzm681LbLrPCmxcug/9Ue+cO+rrSxFqqPEnfR4+wjpPoHhCqly1o/rJyDOgfy3lGffM0+yHk6IsliHn6P2VpYud5opb/ZJq2IGUyKJUajmtENHk2GzrCNIyC68RFUXgmWFxv2a0G6Y/c9zvt0OihnBlVgitc38Pit9U33ktYsDnlNmUjefQPqpos2k54d2hX5lw6fmqqUiZSzBj5fE47Vl6fcz+bTEA9Qo4mJkmtuzEv4rg9K67EvOB8wOVAcxGEK979u+3wrZYAD0cABuG5KXhbNYzSqXHixIEtZoizkQQRh/mI2MJq0OVY8rOJiF+Kas9C81nsKNwEGs6lIwNrayEYMnkft5d760Hq1GSf0b0D7f+C8qHfDmH5F2x3EMUddNRTAXbFUQBRHspsBXVXmxKQrDmKVihv7uZbEWqmV+suH3Le6YzgHvXiMQ2QzBL6+6aoJPLW4CrCdgqoKCuOfA04wFsrXmL40eqZLw2F1woz/nZKS5NApyHUZh/oBIrIuBqcUvxiwImg9y3GeabZ937IH9gwvLTTp6hCO4mK6oLnxQPWCCYval3w6xF2gbpcUjduHkSPfbAZyJwyzq9E0LkahH/urAnbWs=
  file: CRUDPetSpace-1.0.war
  on:
    repo: WeDism/CRUDPetSpace
after_success:
- bash <(curl -s https://codecov.io/bash)
notifications:
  email:
    recipients:
    - wedinakawer58@gnail.com
    on_success: never
    on_failure: always
