<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <!-- Start default config-->
    <display-name>Items</display-name>

    <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>500</error-code>
        <location>/error_500</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/error_404</location>
    </error-page>

    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>

    <!-- End default config-->
    <jsp-config>
        <taglib>
            <taglib-uri>custom_tags</taglib-uri>
            <taglib-location>/WEB-INF/tld/custom.tld</taglib-location>
        </taglib>
    </jsp-config>
</web-app>